RewriteEngine On

# Remove .html extension
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]

# Internally add .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^.]+)$ $1.html [NC,L]

# Redirect dashboard.html to /dashboard
RewriteRule ^dashboard\.html$ /dashboard [R=301,L]

# Redirect root to index
RewriteRule ^$ index.html [L]